
body{

    height: 500px;
    width: 100%;
}

#wrap {

    background-color:navajowhite;
    height: 800px;
    width: 100%;
    alignment: center;
    color: black;


}

#section{

    height: 1000px;
    width: 1000px;

}

#header {
 margin-left: 15%;

    width: 70%;
    height: 7%;
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 15px;
    border-style: dotted;
    font-family: "sans-serif";


}
.square {
    height: 165px;
    width: 165px;
    background-color: black;
    margin: 20px;
    border-color: white;
    border-radius: 15px;
    border-style: dashed;
    float: left;

}


.afterLeft {
    height: 165px;
    width: 165px;
    background-color: black;
    border-color: white;
    border-radius: 15px;
    border-style: dashed;
    float:left;
    margin: 20px;

}

.sectionRight {
    height: 165px;
    width: 165px;
    background-color: black;
    margin: 20px;
    border-color: white;
    border-radius: 15px;
    border-style: dashed;
    float: left;


}

.center {
    height: 165px;
    width: 165px;
    background-color: black;
    margin: 20px;
    border-color: white;
    border-radius: 15px;
    border-style: dashed;
    float: left;


}

.image1 {
    height: 150px;
    width: 150px;
    margin: 27px;
    border-radius: 15px;
    border-style: dashed;
    float: left;
}


.image2 {
    height: 150px;
    width: 150px;
    margin: 27px;
    border-radius: 15px;
    border-style: dashed;
    float: left;
    background-repeat: no-repeat;

}

.image3 {
    height: 150px;
    width: 150px;
    margin: 27px;
    border-radius: 15px;
    border-style: dashed;
    float: left;
}

.image4 {
    height: 150px;
    width: 150px;
    margin: 27px;
    border-radius: 15px;
    border-style: dashed;
    float: left;
}




img{

    border-radius: 15px;
    height: 150px;
    width: 150px;

}
img:hover{
    height: 200px;
    width: 200px;
    color: green;
    text-decoration: green;

}

p{

    margin: 45px;
    color: white;
    font-family: "Arial Black";
    font-size: 14px;
}